input{
    color: #1e1c1c;
}

input::placeholder{
    color: #1e1c1c;
}

.ticket {
    display: flex;
}
.login-form{
    display: flex;
    justify-content: center;
    height: 57vh;
    align-items: center;
}

.text-input {
    margin-bottom: 5px;
    height: 25px;
    width: 250px;
    font-size: 15px;
    color: #1e1c1c;
    background-color: #e0e0e0;
    border-radius: 7px;
    border: 1px solid #47426a;
    padding-left: 5px;
    padding-right: 5px;
}

.button{
    width: 263px;
    height: 20px;
    font-size: 13px;
    border: 10px;
    background-color: #d0cacb;
    border-radius: 7px;
}

.button:hover{
background-color:background-color: #d0cacb
}

.content {
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
}

.menu {
        width: 200px;
}

.project{
    color: #4e7322;
    text-decoration: auto;
    font-size: 18px;
    margin-bottom: 5px;
}

.project-link{
}

.right-content-block{
}

.right-header{
    display: flex;
}

.link-button{
    text-decoration: none;
    font-size: 18px;
}

.button-block{
}

.right-content{
}

.tickets-id{
    width: 30px;
}

.tickets-summary{
    width: 400px;
}

.tickets-reporter{
}

.header{
    font-size: 18px;
}

.user-header{
}

.user-card{
display: flex;
justify-content: flex-end;
margin-bottom: 20px;
}

.avatar{
background-color: #999;
color: black;
width: 25px;
height: 25px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 17px;
}

.user-name{
display: flex;
margin-left: 10px;
margin-top: 5px;
}